
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <span [routerLink]="['/product-page']"><a class="navbar-brand" style="cursor: pointer;">Home</a></span>
</nav>


<div class="container-fluid">
  <div class="row"  >
    <div class="col-md-12 " style="height: 260px;width: 100%;text-align: center;"> 
      <p 
      class="heading-para" 
         >GROCERY<br>
      </p>


      <form #f='ngForm' (ngSubmit)="search(f)">
        <div class="input-group mb-3">
          <input required
          ngModel name="category"
          #category="ngModel"
          class="form-control " 
          type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Go</button>  
          </div>
        </div>
        
      </form>
      </div>
    </div>
</div>


<div class="container-fluid" style="background-color: rgb(255, 255, 255);width: 100%;margin-top: 12px;" >
  <div class="row " style="text-align: center;" > 
    <div class="col-md-6" *ngFor='let i of result;' >
      <div class="d-flex flex-row border rounded" style="margin-bottom: 10px;">
        <div class="p-0 w-50">
          
          <img src="{{i.image}}"  class="img-thumbnail border-0 image-responsive" style="height:160px;width: 170px;">
        </div>
        <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left"  >
            <h4  style="color: rgb(0, 0, 0);">{{i.name}}</h4>
            <h5 style="color: white;">{{i.id}}</h5>
            <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0" style="color:rgb(27, 21, 11)">
              <li style="list-style-type: none;">Quantity:{{i.quantity}}{{i.selling_unit}}</li>
              <li style="list-style-type: none; ">{{i.price}}{{i.price_currency}}</li>
             {{i.category.name}}
            </ul>
           <p class="text-right m-0"><a href="#" class="btn btn-primary">
              <i class="fa fa-shopping-cart"></i> Add to Cart</a></p>
        </div>
                                  
                                
      </div>
    </div>     
    
     
  </div>
  
</div>
<!-- pagination -->
<hr>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      <li class="page-item" routerLinkActive="disabled"><a class="page-link" [routerLink]="['/product-page']"
            [queryParams]="{ page: 1 ,query:details.query}" >First Page </a>
        </li>
      <li class="page-item" *ngIf="data.previous" ><a class="page-link" 
        [routerLink]="['/product-page']" [queryParams]="{ page: data.page - 1,query:details.query }" >{{data.page - 1 }} </a>
        </li>
      <li class="page-item active"><span  class="page-link" >{{data.page}}<span class="sr-only">(current)</span></span></li>
      <li class="page-item" *ngIf="data.next" ><a class="page-link" 
        [routerLink]="['/product-page']" [queryParams]="{ page: data.page + 1 ,query:details.query}">{{data.page  + 1 }}</a>
       </li>
      <li class="page-item"  routerLinkActive="disabled"><a class="page-link" [routerLink]="['/product-page']"
            [queryParams]="{ page: data.num_pages,query:details.query }" >Last Page</a>
      </li>
    </ul>

  </nav>
<!-- end pagination -->
  